html {
  font-family: Roboto;
  font-size: 20px;
}
* {
  margin: 0px;
  padding: 0px;
  transition: all 0.5s ease;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  outline: none;
}
.work * {
  position: relative;
}
.container {
  padding: 0 3%;
  max-width: 1000px;
  margin: 0 auto;
}
.index-header {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #fff;
}
.visit-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 9%;
  padding-right: 9%;
  flex-wrap: wrap;
}
.photo {
  width: 200px;
}
.photo>img {
  width: 100%;
}
.visit-card-about {
  width: calc(100% - 230px);
  margin-bottom: 30px;
}
.age,
.education {
  display: block;
  margin-bottom: 14px;
}
.my-name {
  margin: 0px;
  margin-bottom: 14px;
}
.skills {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-bottom: 80px;
  width: 100%;
}
.skills-article {
  width: 100%;
}
.skill {
  margin-right: 15px;
  margin-bottom: 15px;
  display: block;
  padding: 5px;
  border: 1px solid #666;
}
.btn-works {
  max-width: 320px;
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px;
  border: 1px solid #1111aa;
  border-radius: 15px;
  outline: none;
}
body {
  background: #eff
}
.works {
  min-height: 300px;
}
.work {
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  background: #000;
  text-align: center;
  padding: 40px 0px;
  position: relative;
}
.work-article {
  transform:  scale(0) translateY(-100px);
  font-size: 3rem;
}
.work-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}
.index-footer {
  background: #333;
}
.footer-inner {
  min-height: 30px;
  padding: 30px 60px;
  color: aliceblue;
  text-align: center;
  background: #333;
}
.work:hover{
  min-height: 500px;
}
.work:hover>.work-background {
  opacity: 0.7;
}

.btn {
  transform: scale(0) translateY(100px);
  color: white;
  border: 2px solid #fff;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}

.work-date {
  transform: scale(0) translateY(100px);
}

.work:hover>.work-article{
  transform: scale(1) translateY(0px);
}
.work:hover>.work-date{
  transform: scale(1) translateY(0px);
}
.work:hover>.btn{
  transform: scale(1) translateY(0px);
}

.contants-article {
  width: 100%;
  margin-bottom: 12px;
}

.mail {
  margin-bottom: 12px;
}

.phone-number {
  margin-bottom: 12px;
}

.phone-number>i{
  font-size: 1.4rem;
}

@media screen and (max-width: 670px){
  .visit-card{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 560px){
  html{
    font-size: 4vw;
  }
  .photo{
    width: 25%;
  }
  .visit-card-about{
    width: 70%;
  }
}

@media screen and (max-width: 390px){
  html{
    font-size: 5vw;
  }
  .photo{
    width: 200px;
    margin: auto;
  }
  .visit-card-about{
    width: 100%;
    text-align: center;
  }
}

.no-photo{
  width: 200px;
  height: 200px;
  background: #eee;
}

.app-loading *:not(.photo):not(.visit-card-about):not(.skills):not(.jobs-list){
  background: #eee;
  color: #eee;
  border: none;
}

.h-r{
  width: 100%;
}

.monoeyebrow{
  position: absolute;
  top: 0px;
  padding: 8px 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #000;
  color: #fff;
  left: calc(50vw - 57px);
}

.monoeyebrow a{
  color: #fff;
}

.jobs-article{
  margin-bottom: 16px;
}

.jobs-list{
  margin-bottom: 16px;
}

.jobs-item{
  line-height: 1.5;
  margin-bottom: 16px;
  display: flex;
}

.jobs-item__logo{
  width: 84px;
  height: 84px;
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 16px;
}