a{
    text-decoration: none;
    color: #606060
}

nav li:first-of-type{
    margin-left: 0px;
}

nav li{
    margin-left: 48px;
    display: inline-block;
    font-size: 13px;
}

.logo {
    float: left;
}
p{
    margin: 0px;
}
h1{
    font-size: 35px;
}
h1,h2{
    margin: 0px;
    font-weight: 800;
}
.navigation {
    float: right;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    color: #606060;
    padding: 0px;
    font-weight: 300;
}

header {
    min-height: 109px;
    border-top: 3px solid #414141;
    background: #f5f5f5;
    margin-bottom: 69px;
}

.header-container {
    margin-top: 28px;
}

.active-part{
    color: #1abb9c;
}

.hello-container p{
    margin-top: 22px;
    font-size: 25px;
}

.slider {
    padding-top: 253px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 30px;
    background: #ddd3d1 url(img/slider1.jpg) center center no-repeat;
    background-size: cover;
    min-height: 147px;    
    max-width: 1170px;
}

.btn-slider {
    cursor: pointer;
    background-color: #fff;
    text-align: center;
    width: 45px;
    height: 33px;
    padding-top: 12px;
    margin-bottom: 103px;
}

.slider-name, .slider-description {
    box-sizing: border-box;
    max-width: 361px;
    min-height: 48px;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 3px;
    padding-left: 18px;    
    padding-top: 13px;
    padding-right: 18px;
    padding-bottom: 16px;
    font-size: 20px;   
    font-weight: 500;
    text-transform: uppercase;
    line-height: 24px;
    background-color: white;    
}

.slider-feature {
    color: #1abb9c;
}

.slider-description {
    padding-bottom: 18px;
    margin-right: 0px;
    max-width: 421px;
    text-transform: none;
    font-size: 16px;
}

.what-we-do {
    padding-top: 80px;
    margin-bottom: 80px;
}

.what-we-do-title-container {
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 16px;
}

.line::after, .line::before{
    content: "";
    display: inline-block;
    height: 1px;
    width: 82px;
    background-color: #777;
    vertical-align: middle;
}

.line::after {
    margin-left: 15px;
}

.line::before {
    margin-right: 15px;
}

.what-we-do-items {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    min-height: 312px;
}

.what-we-do-item {
    border: 1px solid #e1e1e1;
    width: 23%;
    max-width: 268px;
    min-height: 311px;
    padding: 3px;
}

.what-we-do-item-second-border {
    border: 1px solid #e1e1e1;
    height: calc(100% - 41px);
    min-height: 263px;
    padding-bottom: 39px;
}

.what-we-do-item-picture {
    width: 56px;
    height: 56px;
    background-image: url(img/sprites-features.png);
    margin: 0 auto;
    margin-top: 52px;
    margin-bottom: 31px;
}

.what-we-do-item-picture-motion-video {
    background-position: -56px;
}

.what-we-do-item-picture-package {
    background-position: -112px;
}

.what-we-do-item-picture-time-managment {
    background-position: -168px;
}

.what-we-do-item-second-border h2{
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

.what-we-do-item-second-border p{
    font-size: 14px;
    text-align: center;
    width: 85.769%;
    max-width: 223px;
    min-height: 98px;
    margin: auto;
    margin-top: 20px;
}

.our-process {
    color: #d0d0d0;
    padding: 80px 0;    
    margin-bottom: 80px;
    min-height: 248px;
    background: #1a1a1a url(img/back1.jpg) center center no-repeat;
    background-size: cover;
    font-weight: 500;
}

.our-process p{
    padding: 0 12.82%;
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
    max-width: 885px;
    font-weight: 500;
}

.our-process-slider {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}

.our-process-slider-item {
    text-align: center;
    float: left;
    max-width: 134px;
}

.our-process-slider-item-line {
    margin-top: 45px;
    width: 191px;
    height: 1px;
    background-color: #777;
}

.our-process-slider-item-title {
    margin: auto;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
}

.our-process-slider-item-image {
    margin: auto;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin-bottom: 22px;
    border: 1px solid #1abb9c;
}

.our-process-slider-item-image-active-image {
    background-color: #1abb9c;
}
.process-slider-image {
    width: 48px;
    height: 48px; 
    margin: auto;
    margin-top: 21px;
    background: url(img/spites-process.png) no-repeat;
}

.our-process-slider-item-image-rapid-solution>div {
    background-position: -48px 0px;    
}

.our-process-slider-item-image-magic-touch>div {
    background-position: -96px 0px;
}

.our-process-slider-item-image-award-winning>div {
    background-position: -144px;
}

.our-recent-projects-title-container {
    margin-bottom: 40px;
    color: #616161;
    font-weight: 800;
    text-transform: uppercase;
}

.our-recent-projects-item {
    width: 31.62%;
    max-width: 370px;
}

.our-recent-projects-items {
    display: flex;
    justify-content: space-between;
}

.our-recent-project-item-title {
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    margin-top: 21px;
    text-transform: uppercase;
}

.our-recent-project-item-title-discription {
    margin-top: 12px;
    font-weight: 500;
    text-align: center;
    font-size: 12px;
}

.our-recent-project-item-discription {
    margin: auto;
    margin-top: 21px;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    max-width: 336px;    
}

.our-recent-projects {
    min-height: 412px;
    padding-bottom: 80px;
}

.what-our-customers-think {
    background: url(img/back-customers.jpg) center center no-repeat;
    background-size: cover;
    min-height: 170px;
    padding: 80px 0;
}

.what-our-customers-think-title-container {  
    margin-bottom: 38px;
    font-weight: 800;
    color: #d0d0d0;
    font-size: 16px;
    text-transform: uppercase;
}

.what-our-customers-think-discription {
    font-size: 20px;
    width: 81.1965%;
    max-width: 944px;
    margin: auto;
    line-height: 35px;
    color: #d8d8d8;
    text-align: center;
    margin-bottom: 26px;
}

.what-our-customers-think-customer-name {
    font-size: 12px;
    color: #1abb9c;
    max-width: 118px;
    margin: 0 auto;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.what-our-customers-think-slider {
    text-align: center;
}

.what-our-customers-think-slider>input{
    margin: 0px;
}

.from-the-journal-title-container {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 16px;
    color: #616161;
    font-weight: 800;
}

.from-the-journal {
    padding: 80px 0;
    min-height: 341px;
}

.from-the-journal-item>img{
    width: 100%;
}

.from-the-journal-item {
    max-width: 370px;
    width: 31.62%;
}

.from-the-journal-item:last-of-type {
    margin-right: 0px;
    float: right;
}

.title-date {
    font-weight: 500;
    line-height: 14px;
    float: left;
    padding-top: 9px;
    padding-left: 13px;
    width: 31px;
    min-height: 35px;
    border: 1px solid #b1b1b1;
}

.journal-title {
    float: left;
    margin-left: 15px;
}

.journal-title-container {
    margin-top: 22px;
    margin-bottom: 15px;
    min-height: 46px;
}

.month {
    font-size: 12px;
}

.journal-title-title {
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: 2px;
}

.journal-title-discription {
    font-size: 12px;
}

.journal-discription {
    font-size: 14px;
    line-height: 25px;
}

footer {
    font-size: 14px;
    font-weight: 500;
    background: #373737;
    color: #cacaca;
    min-height: 400px;
    padding-top: 70px;
}

.get-in-touch {
    width: 21.538%;
    max-width: 252px;
}

.twitter {
    width: 19.83%;
    max-width: 232px;
}

.popular-posts {
    width: 18.8%;
    max-width: 220px;
}

.about-us {
    width: 22.3%;
    max-width: 261px;
}

.get-in-touch-title {
    color: #f0f0f0;
    font-weight: 700;
    text-transform: uppercase;
}

.get-in-touch-discription {
    margin-top: 26px;
    font-size: 14px;
    line-height: 24px;
}

.get-in-touch-contacts>ul{
    list-style: none;
    padding-left: 0px;
    font-size: 14px;
    line-height: 24px;
}

.twitter-title {
    text-transform: uppercase;
    color: #f0f0f0;
    font-weight: 700;
    margin-bottom: 26px;
}

.twitter>p{
    line-height: 24px;
    margin-bottom: 34px;
}

.twitter>p:last-of-type{
    margin-bottom: 0px;
}

.posts-title {
    color: #f0f0f0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.post-message {
    line-height: 22px;
}

.post-date {
    margin-top: 4px;
    font-size: 12px;
    margin-bottom: 30px;
}

.about-us-title {
    text-transform: uppercase;
    color: #f0f0f0;
    font-weight: 700;
    margin-bottom: 27px;
}

.about-us>p{
    line-height: 22px;
    margin-bottom: 30px;
}

.copyrates {
    background: #333333;
    height: 50px;
    padding-top: 41px;
    color: #cacaca;
    font-weight: 500;
    font-size: 14px;
}

.customers-think-slider-item {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #777777;
}

.customers-think-slider-item-active {
    border: 1px solid #bebebe;
}



.what-our-customers-think-slider ul{
    display: block;
}

.what-our-customers-think-slider li{
    display: inline-block;
}

.line {
    text-align: center;
    width: auto;
}

.our-process-title-container {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.hello-container {
    margin-bottom: 66px;
}

.navigation ul{
    padding: 0px;
}

.from-the-journal-items {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}

@media screen and (max-width: 1170px) {
    .container{
        width: calc(100% - 20px);
        padding: 0 10px;
    }
}

@media screen and (max-width: 1086px) {
    .title-date{
        display: none;
    }
    .journal-title{
        margin: 0px;
    }
    .journal-title-container{
        margin-top: 12px;
    }
}


@media screen and (max-width: 780px){
    .footer-info{
        flex-wrap: wrap;
    } 
    
    .get-in-touch,.twitter,.popular-posts,.about-us{
        margin-top: 20px;
        width: 45%;
        max-width: 1000px;
    }
}

@media screen and (max-width: 672px) {
    .navigation li{
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
        display: block;
    }
    .navigation{        
        float: none;
    }
    .logo{
        width: 52px;
        margin: 0 auto;
        display: block;
        float: none;
    }
}

@media screen and (max-width: 600px) {
    .what-we-do-items{
        flex-wrap: wrap;
    }    
    .what-we-do-item{
        margin-top: 10px;
        width: 45%;
    }
}

@media screen and (max-width: 460px) {
    .line::before,.line::after,.our-process-slider-item-line{
        display: none;
    }
    
    .our-process-slider-item{
        float: none;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .our-recent-projects-items,.our-process-slider{
        display: block;
    }
    .from-the-journal-items{
        display: block;
    }
    .our-recent-projects-item{
        float: none;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .from-the-journal-item{
        float: none;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .from-the-journal-item:last-of-type{
        float: none;
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 420px){
    
    .get-in-touch,.twitter,.popular-posts,.about-us{
        flex-basis: 100%;
    }   
    
    .what-we-do-item{
        flex-basis: 100%;
        margin: 0 auto;
        margin-top: 10px;
    }
}