<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Banner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Catamaran|Rubik" rel="stylesheet">

  <link rel="stylesheet" media="(min-width: 769px)" href="css/style.css">
  <link rel="stylesheet" media="(min-width: 415px) and (max-width: 768px)" href="css/style.ipad.css">
  <link rel="stylesheet" media="(min-width: 376px) and (max-width: 414px)" href="css/style.iphone6plus.css">
  <link rel="stylesheet" media="(min-width: 321px) and (max-width: 375px)" href="css/style.iphone6.css">
  <link rel="stylesheet" media="(max-width: 320px) and (device-aspect-ratio: 40/71)" href="css/style.iphone5.css">
  <link rel="stylesheet" media="(max-width: 320px) and (device-aspect-ratio: 2/3)" href="css/style.iphone4s.css">

  <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="img/icons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="img/icons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="img/icons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="img/icons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="img/icons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-touch-icon-180x180.png" />
</head>

<body>
  <div class="index-content container">
    <section class="content-phone">
      <div class="phone-screen"></div>
    </section>
    <article class="content-info">
      <div class="info-logo">
      </div>
      <h1 class="info-slogan">
      <span id="line-one">keep your private</span> <br>
      <span id="line-two">photos & videos</span> <br>
      <span id="line-three">secure</span>
    </h1>
      <a href="#" class="info-trial" id="trial">
      7-days free trial
    </a>
    </article>
  </div>
  <script src="js/localization.js">
  </script>
</body>

</html>
