<!DOCTYPE html>
<html>

<head>
  <title v-t="'page_title'">Orlovskiy Kirill's portfolio </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">  
</head>

<body style="overflow: hidden">
  <div id="app">
    <div class="monoeyebrow">
      <a href="javascript:0" @click="lang = 'en'">EN</a>
      |
      <a href="javascript:0" @click="lang = 'ru'">RU</a>
    </div>
    <header class="index-header container">
      <section class="visit-card app-loading" ref="visitCard">
        <div class="photo">
          <div class="no-photo">
            <img src="img/face.jpg" onload="app.avaLoaded = true" v-show="avaLoaded && !isLoading" alt="Тут должен быть я" style="display: none">
          </div>
        </div>
        <article class="visit-card-about">
          <h1 class="my-name" v-t="'fio'">Orlovskiy Kirill Vladimirovich</h1>
          <span class="age" v-t="{path: 'age', args: { 'ages': ageOld } }">Age: %{ages} years old</span>
          <span class="education" v-t="'base_education'">Education: BSUIR Affiliate "Minsk Radioengineering College", Software for Information Technology, Programmer (2013 - 2017 yy)</span>
          <span class="education" v-t="'hight_education'">Education: BSUIR, Faculty of Computer Technologies, Software for Information Technology, Software-Engineer (2017 - 2021 yy)</span>
        </article>
        <h2 class="jobs-article" v-t="'jobs_article'">Worked/Work here:</h2>
        <div class="h-r"></div>
        <ul class="jobs-list">
          <li class="jobs-item" v-for="job in jobs">
            <div class="jobs-item__logo" :style="{ backgroundImage: 'url('+job.logoUrl+')' }"></div>
            <div class="jobs-item__description">
              <h5 class="jobs-item__title">{{job.orgName}}</h5>
              <div class="jobs-item__position">{{  job.position }}</div>
              <p class="jobs-item__worked-time">{{job.from}} - {{job.to}}</p>
            </div>
          </li>
        </ul>
        <h2 class="contants-article" v-t="'contacts_label'">Contacts:</h2>
        <a href="tel:+375447681455" class="phone-number"><i class="icon-mobile-phone"></i>  +375(44)7681455</a>
        <div class="h-r"></div>
        <a href="mailto:jumpbreak@mail.ru" class="mail"><i class="icon-envelope-alt"></i>  jumpbreak@mail.ru</a>
        <h2 class="skills-article" v-t="'skills'">Skills:</h2>
        <ul class="skills">
          <li class="skill" v-for="skill in skills">{{skill}}</li>
        </ul>
      </section>
      <a href="javascript:0" @click="scrollToWorks()" class="btn-works" v-t="'look_works'">View works</a>
    </header>
    <main class="works" id="works">
      <ul class="works-list">
        <!-- <li class="work">
          <div class="work-background" style="background-image: url('img/industrial.jpg')"></div>
          <h4 class="work-article">Industrial</h4>
          <time class="work-date" datetime="2017-07-09 20:00">9 Июля 2017</time>
          <a href="layouts/industrial/index.html" class="btn">Просмотреть</a>
        </li> -->
        <li class="work" v-for="project in projects">
          <div class="work-background" :style="{ backgroundImage: 'url('+project.backgroundUrl+')' }"></div>
          <h4 class="work-article">{{project.title}}</h4>
          <time class="work-date" :datetime="project.dateTime">{{project.date}}</time>
          <a :href="project.url" class="btn" v-t="'work_href'">View</a>
        </li>
        <li class="work">
          <div class="work-background"></div>
          <h4 class="work-article" v-t="'this_portfolio'">This page</h4>
          <time class="work-date" v-t="'in_progress'"></time>
          <a class="btn" v-t="'work_href'">In progress</a>
        </li>
      </ul>
    </main>
    <footer class="index-footer">
      <div class="footer-inner container">
        &copy; Designed by Me ;)
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
  <script src="./js/app.js"></script>
  <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48185933 = new Ya.Metrika({ id:48185933, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/48185933" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>

</html>
