*{
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 5px;
}

.index-content {
  position: absolute;
  padding-bottom: 8rem;
  padding-left: 9.8rem;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  background-image: -moz-linear-gradient( 90deg, rgba(23,27,33,0.94902) 0%, rgba(23,27,33,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(23,27,33,0.94902) 0%, rgba(23,27,33,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(23,27,33,0.94902) 0%, rgba(23,27,33,0) 100%);
}

body {
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-image: url(../img/ipad/ratio2/background.jpg);
}

.info-slogan {
  font-family: 'Catamaran', sans-serif;
  font-size: 10.8rem;
  color: #fff;
  line-height: 12rem;
  margin-bottom: 3.6rem;
}

.info-trial {
  font-family: 'Rubik', sans-serif;
  font-size: 9.2rem;
  color: #ffa000;
}

.info-logo {
  width: 24rem;
  height: 24rem;
  background-size: 100%;
  background-image: url(../img/ipad/ratio2/icon.png);
  margin-bottom: 6.6rem;
}

.content-phone {
  position: relative;
  width: 40rem;
  height: 81.3rem;
  margin-right: 7.8rem;
  background-size: 100%;
  background-image: url(../img/ipad/ratio2/iphone.png);
}

.phone-screen {
  position: absolute;
  top: calc(50% - 31.2rem);
  left: calc(50% - 17.7rem);
  background-size: 100%;
  background-image: url(../img/ipad/ratio2/screen.jpg);
  width: 35.4rem;
  height: 62.4rem;
}
