*{
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 5px;
}
a{
  text-decoration: none;
}
.index-content {
  position: absolute;
  padding-bottom: 25px;
  padding-left: 20px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  background-image: -moz-linear-gradient( 90deg, rgba(23,27,33,0.94902) 0%, rgba(23,27,33,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(23,27,33,0.94902) 0%, rgba(23,27,33,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(23,27,33,0.94902) 0%, rgba(23,27,33,0) 100%);
}

body {
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-image: url(../img/iphone6/background.jpg);
}

.info-slogan {
  font-family: 'Catamaran', sans-serif;
  font-size: 5.4rem;
  color: #fff;
  line-height: 30px;
  margin-bottom: 7px;
}

.info-trial {
  font-family: 'Rubik', sans-serif;
  font-size: 4.6rem;
  color: #ffa000;
}

.info-logo {
  width: 60px;
  height: 60px;
  background-size: 100%;
  background-image: url(../img/iphone6/icon.png);
  margin-bottom: 17px;
}

.content-phone {
  position: relative;
  width: 100px;
  height: 203.5px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: 100%;  
  background-image: url(../img/iphone6/iphone.png);
}

.phone-screen {
  position: absolute;
  left: calc(50% - 44.25px);
  top: calc(50% - 78px);
  background-size: 100%;
  background-image: url(../img/iphone6/screen.jpg);
  width: 88.5px;
  height: 156px;
}