<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Industrial Desing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/media.css">
</head>

<body>
  <header class="index-header container">
    <a href="" class="logo">
      <img src="img/svg/logo.svg" alt="">
    </a>
    <section class="search">
      <input type="text" class="search-input" placeholder="Search">
    </section>
  </header>
  <main class="products container">
    <article class="main-product" style="background-image: url(img/gina-project.jpg);">
      <h2>gina</h2>
      <p class="main-product-description">
        A coffee instrument <br> combining classic coffee <br> techniques with the latest <br> technology
      </p>
      <a href="#" class="btn buy-btn main-buy-btn">
        Shop Now
      </a>
      <div class="kickstarter-badge"></div>
    </article>
    <article class="second-product second-product-left"  style="background-color: #60b8a3; background-image: url(img/Beoplay-A1-product.jpg)">
      <h3>beoplay A1</h3>
      <p class="second-product-description">
        The ultra-portable Bluetooth speaker that will travel with you anywhere
      </p>
      <a href="#" class="btn buy-btn">
        Buy
      </a>
    </article>
    <article class="second-product second-product-right" style="background-color: #7778c6; background-image: url(img/Leica-MP-product.jpg)">
      <h3>Leica MP</h3>
      <p class="second-product-description">
        Focused technology for focused photography
      </p>
      <a href="#" class="btn buy-btn">
        Buy
      </a>
    </article>
    <article class="other-product" style="background-color: #e97864; background-image: url(img/Molekule-product.jpg)">
      <p class="other-product-description">
        The world’s first molecular air purifier.
      </p>
      <h3>Molekule</h3>
      <a href="#" class="btn buy-btn">
        details
      </a>
    </article>
    <article class="other-product other-product-center" style="background-color: #557581; background-image: url(img/P9-Signature-product.jpg)">
      <p class="other-product-description">
        Bowers & Wilkins
      </p>
      <h3>p9 signature</h3>
      <a href="#" class="btn buy-btn">
        details
      </a>
    </article>
    <article class="other-product" style="background-color: #82c9d8; background-image: url(img/DR2-product.jpg)">
      <p class="other-product-description">
        An homage to Dieter Rams
      </p>
      <h3>DR-II</h3>
      <a href="#" class="btn buy-btn">
        details
      </a>
    </article>
    
  </main>
  <article class="mailing container">
    <h4>
      Get our freshest content delivered to your inbox
    </h4>
    <p>
      For the latest stories, news, events, promotions and exclusive offers, sign up today.<br> We know you get a lot of emails, but we promise... ours is the one you want.
    </p>
    <form action="#" class="mailing-form">
      <input class="input-email" type="email" placeholder="Your email">
      <button class="mailing-btn">Subscribe</button>
    </form>
  </article>
  <footer class="index-footer container">
    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <div class="dot"></div>
        <li><a href="#">Search</a></li>
        <div class="dot"></div>
        <li><a href="#">Contact</a></li>
        <div class="dot"></div>
        <li><a href="#">Facebook</a></li>
        <div class="dot"></div>
        <li><a href="#">Twitter</a></li>
      </ul>
    </nav>
    <small class="copy">&copy; Industrial Design Magazine</small>
  </footer>
</body>
</html>
