@font-face {
  font-family: HKGrotesk-Light;
  src: url(../fonts/HKGrotesk-Light.otf);
}
@font-face {
  font-family: LeagueSpartan-Bold;
  src: url(../fonts/LeagueSpartan-Bold.otf);
}
a {
  color: white;
  text-decoration: none;
}
html {
  font-family: HKGrotesk-Light;
  font-size: 10px;
}
input {
  outline: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
  margin: 0px;
}
h2,
h3 {
  text-transform: uppercase;
  font-family: LeagueSpartan-Bold;
  margin: 0px;
}
body {
  font-size: 2.4rem;
  padding: 0;
  margin: 0;
  background: #272f45;
  color: #92a1a9;
}
.container {
  max-width: 1160px;
  padding: 0 100px;
  margin: 0 auto;
}
.index-header {
  display: flex;
  justify-content: space-between;
  padding-top: 63px;
  padding-bottom: 55px;
}
.search-input::-webkit-input-placeholder {
  color: #92a1a9;
  opacity: 1;
}
.search-input::-moz-placeholder {
  color: #92a1a9;
  opacity: 1;
}
.search-input:-moz-placeholder {
  color: #92a1a9;
  opacity: 1;
}
.search-input:-ms-input-placeholder {
  color: #92a1a9;
  opacity: 1;
}
.search-input {
  width: 142px;
  color: #92a1a9;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 3px solid #63757e;
  height: 40px;
  padding-top: 12px;
  padding-left: 34px;
  font-family: HKGrotesk-Light;
  font-size: 24px;
}
.search:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 21px;
  left: 0px;
  width: 23px;
  height: 23px;
  background: url(../img/svg/loupe.svg);
}
.search {
  position: relative;
}
.main-product {
  position: relative;
  width: 100%;
  background-size: cover;
  min-height: calc(690px - 105px);
  padding-top: 105px;
  padding-left: 60px;
  margin-bottom: 40px;
}
.products {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 160px;
}
.kickstarter-badge::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 46px);
  width: 92px;
  height: 12px;
  transform: rotateZ(-16.64deg);
  background: url(../img/svg/kickstarter-logo-light.svg) 100% 100% no-repeat;
}
.kickstarter-badge {
  position: absolute;
  top: 38px;
  right: 38px;
  width: 112px;
  height: 115px;
  background: url(../img/svg/badge.svg);
}
h2 {
  font-size: 8rem;
  margin-bottom: 17px;
}
.main-product-description {
  font-size: 3.2rem;
  margin-bottom: 130px;
}
.btn {
  display: inline-block;
  padding: 10px 0px;
  padding-top: 14px;
  border: 3px solid #eec9a2;
  text-transform: uppercase;
  font-size: 1.8rem;
  width: 112px;
  text-align: center;
  font-family: LeagueSpartan-Bold;
}
.second-product {
  margin-bottom: 40px;
  background-size: cover;
  min-height: 456px;
  padding-top: 62px;
  max-width: 560px;
  width: calc(48.3% - 30px);
}
.second-product-left {
  text-align: right;
  padding-right: 30px;
}
.second-product-right {
  padding-left: 30px;
}
.second-product>h3 {
  font-size: 4.8rem;
  margin-bottom: 8px;
}
.second-product-description {
  margin-bottom: 68px;
}
.main-buy-btn {
  padding: 16px 22px;
  font-size: 2.4rem;
  font-family: HKGrotesk-Light;
  text-transform: none;
}
.other-product {
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  min-height: calc(440px - 50px);
  width: 31.1%;
  max-width: 360px;
}
.other-product-description {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.other-product>h3 {
  font-size: 3.6rem;
  margin-bottom: 24px;
}
.other-product-center {
  padding-top: 238px;
  min-height: calc( 440px - 238px);
}
h4 {
  font-size: 3.6rem;
}
.mailing {
  text-align: center;
  margin-bottom: 103px;
}
.mailing>p {
  font-size: 1.8rem;
  margin-bottom: 54px;
}
.input-email,
.mailing-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: calc(360px - 6px);
  color: #92a1a9;
  border: none;
  font-family: HKGrotesk-Light;
  padding: 15px 0px;
  padding-bottom: 13px;
  font-size: 1.8rem;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  border: 3px solid #63757e;
}
.mailing-btn {
  border: 3px solid #82c9d8;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: LeagueSpartan-Bold;
}
.index-footer {
  padding-bottom: 74px;
  text-align: center;
}
.index-footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.index-footer ul a {
  color: #92a1a9;
}
.index-footer ul>* {
  margin-left: 6px;
  margin-right: 6px;
}

.dot {
  width: 6px;
  height: 6px;
  margin-top: 10px;
  border-radius: 50%;
  background: #92a1a9;
}
