.ninja-btn {
  display: inline-block;
  float: left;
  position: relative;
  width: 44px;
  height: 28.66666667px;
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
}
.ninja-btn span,
.ninja-btn span:before,
.ninja-btn span:after {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
  width: 44px;
  height: 2px;
}
.ninja-btn span {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 13.33333333px;
}
.ninja-btn span:before,
.ninja-btn span:after {
  content: "";
  position: absolute;
  left: 0;
}
.ninja-btn span:before {
  top: -13.33333333px;
}
.ninja-btn span:after {
  top: 13.33333333px;
}
/* Ninja Button */
.ninja-btn.active span {
  background-color: transparent;
}
.ninja-btn.active span:before,
.ninja-btn.active span:after {
  top: 0;
}
.ninja-btn.active span:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.ninja-btn.active span:after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}
/* Ninja Button Active */
.ninja-btn.active{
  position: fixed;
  top: 20px;
  right: 23px;
  z-index: 100001;
}

.container {
  max-width: 1200px;
  padding: 0 23px;
  margin: 0 auto;
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
}
html {
  font-size: 10px;
}
h1,
h2 {
  margin: 0 0;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
.promo-header * {
  z-index: 10000;
}
.promo-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  max-width: 1100px;
  margin: 0 auto;
}
body {
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}
input[type="text"],
input[type="email"],
textarea {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}
.index-promo {
  position: relative;
  min-height: calc(100vh - 135px);
  padding-bottom: 135px;
  background: url('../img/sliderbackground.jpg') center;
  background-size: cover;
}
.header-navigation {
  padding-top: 10px;
  max-width: 460px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
}
.navigation-element-article {
  color: white;
}
.navigation-element {
  transition: 0.3s;
  position: relative;
  padding: 15px 13px 22px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.navigation-element-items {
  margin-top: 22px;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0px;
  width: 220px;
  padding: 8px 12px 4px;
  background: #fcff19;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.navigation-cart {
  padding: 0;
  margin-top: 10px;
  margin-left: 28px;
  background: url('../img/svg/Basket_icon.svg') center center;
  background-size: contain;
  width: 26px;
  height: 26px;
}
.items-item {
  cursor: pointer;
  padding: 11px 0px;
}
.navigation-element:hover {
  transition: 0.3s;
  background: #fcff19;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.navigation-element:hover > .navigation-element-article {
  color: black;
}
.navigation-element:hover > .navigation-element-items {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
}
.promo-text {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
  position: relative;
  z-index: 10;
  padding-top: 30vh;
  color: white;
}
h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}
.promo-text-description {
  font-weight: 100;
  text-align: center;
  font-size: 2.8rem;
  margin-top: 18px;
  margin-bottom: 36px;
}
.text-accent {
  color: #fcff19;
}
.promo-btn {
  position: relative;
  z-index: 5;
  border-radius: 5px;
  background: #000;
  font-size: 1.2rem;
  color: #fcff19;
  display: block;
  text-align: center;
  max-width: 70px;
  margin: 0 auto;
  padding: 18px 28px;
  text-transform: uppercase;
}
.slider-navigation-arrows {
  position: absolute;
  padding: 0 23px;
  width: calc(100% - 46px);
  top: 50vh;
}
.btn-arrow {
  background: none;
  padding: 0px;
  width: 60px;
  border: none;
  height: 60px;
}
.btn-arrow:hover .arrow-icon {
  stroke: white;
}
.btn-next-arrow {
  position: absolute;
  right: 23px;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.scroll-down {
  width: 66px;
  height: 77px;
  left: calc(50% - 33px);
  position: absolute;
  bottom: 33px;
}
.categories {
  min-height: 383px;
  padding-top: 75px;
  padding-bottom: 170px;
  background: url('../img/categoriesBG.png') center;
  background-size: cover;
  background-repeat: no-repeat;
}
h2 {
  text-transform: uppercase;
  font-size: 2.8rem
}
.categories-article {
  margin-bottom: 75px;
  text-align: center;
}
.categories-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
button {
  font-weight: bold;
}
.categories-item {
  position: relative;
  width: 32%;
  
  max-width: 346px;
  min-height: 288px;
  background: url(../img/categoria1.jpg) center;
  background-size: cover;
  text-align: center;
}
.second-categoria {
  background-image: url(../img/categoria2.jpg);
}
.thrid-categoria {
  background-image: url(../img/categoria3.jpg)
}
.categories-item-article {
  margin-top: 140px;
  color: #fcff19;
  text-transform: uppercase;
}
.categories-item-description {
  color: white;
  font-weight: 200;
  font-size: 1.6rem;
  margin-top: 4px;
  margin-bottom: 28px;
}
.categories-link {
  position: relative;
  z-index: 5;
  display: block;
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px 22px;
  max-width: 80px;
  transform: scale(0);
  transition: 0.2s;
}
.decorate-triangle {
  background-image: url(../img/svg/triangle.svg);
  background-size: 100% 100%;
  transition: 0.2s;
  position: absolute;
  transform: translate(-50%, 50%) scale(0);
  width: 100%;
  z-index: 1;
  height: 100%;
}
.categories-item:hover > .categories-link {
  transform: scale(1);
}
.categories-item:hover > .decorate-triangle {
  transform: translate(0px, 0px)scale(1);
}
.categories-item-article,
.categories-item-description,
.categories-link {
  z-index: 3;
}
.popular {
  text-align: center;
  padding: 75px 23px 34px;
  max-width: 1874px;
  margin: 0 auto;
}
.popular > h2 {
  margin-bottom: 55px;
}
.popular-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.popular-list-item {
  text-transform: uppercase;
  width: 28%;
  min-width: 320px;
  max-width: 490px;
}
.list-item-img {
  width: 100%;
}
.popular-info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.info-option {
  position: relative;
  font-size: 1.2rem;
  max-width: 88px;
  width: 17%;
  height: 28px;
  text-align: left;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 20px;
  cursor: pointer;
  padding-right: 36px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.info-desc {
  margin-right: auto;
  text-align: left;
}
.info-desc-price {
  font-weight: 200;
}
.info-desc-name {
  margin-bottom: 3px;
}
.contact-us {
  background: url('../img/contactUsBG.jpg') center;
  background-size: cover;
  box-shadow: inset 0 8px 6px -6px rgba(0, 0, 0, 0.03);
  text-align: center;
  padding-top: 66px;
  padding-bottom: 84px;
  min-height: 490px;
}
.contact-us>h2 {
  margin-bottom: 49px;
}
.contact-us > p {
  font-weight: 300;
}
.contact-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
}
.half-size-input {
  max-width: 174px;
  width: calc(47.5% - 40px);
}
.contact-us-form input,
.contact-us-form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #dadada;
}
.contact-us-form textarea {
  resize: none;
  height: 153px;
}
.btn-form-submit {
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 18px 10px;
  background: #b7b7b7;
  border-radius: 10px;
  width: 100%;
}
.index-footer {
  padding: 17px 0px;
  background: #fcff19;
}
.footer-navigation {
  text-transform: uppercase;
  max-width: 376px;
  width: 34%;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.index-footer>div {
  display: flex;
  justify-content: space-between;
}
.btn-info-btn {
  margin-left: 10px;
  padding: 15px 35px;
  font-size: 1.2rem;
  border: none;
  background: #b7b7b7;
  border-radius: 10px;
  color: white;
}
.btn-info-btn:hover {
  color: #fcff19;
  background: black;
}
.info-option.open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
  color: #8f8f8f;
}
.option-button {
  transition: 0.2s;
  background: url(../img/svg/arrow_down_option.svg) no-repeat center center;
  width: 18px;
  height: 12px;
  position: absolute;
  right: 16px;
  top: 15px;
}
.info-option.open > .option-button {
  transform: rotate(180deg);
}
.option-items {
  display: none;
  background: white;
  color: black;
  top: 42px;
  left: -1px;
  border: 1px solid #8f8f8f;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  position: absolute;
  max-height: 112px;
  overflow-y: auto;
}
.option-item {
  padding-left: 20px;
  padding-top: 8px;
  height: 24px;
}
.info-option.open > .option-items {
  display: block;
}
.option-item:hover {
  background-color: lightgray;
}
.scroll-down:hover path {
  fill: url(#gradient-hover)
}
.btn-arrow:hover .arrow-icon {
  stroke: white;
}

/*slider thinks*/

.slider * {
  z-index: 0;
}
.slider {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.slider-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.slider-navigation {
  width: 100%;
  position: absolute;
  bottom: 5px;
  height: 20px;
  margin: 0px;
  display: flex;
}
.slider div {
  width: 100%;
  height: 100%;
}
.slider-navigation li {
  flex: 1;
}
.slider-navigation button {
  width: 100%;
  height: 20px;
  border: 0px;
  font-size: 0;
  border-bottom: 1px solid #aba8a6;
  background-color: rgba(1, 1, 1, 0);
}
.slick-active button {
  border-bottom: 2px solid #fcff19;
}

.menu-btn {
  display: none;
}

.navigation-mobile{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  top: 0px;
  left: 0px;
  padding-top: 100px;
  padding-left: 10px;
}
.logo {
  z-index: 100000;
}
