@font-face {
  font-family: Flaticon;
  src: url(../fonts/Flaticon.ttf);
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../fonts/HelveticaNeue.ttf);
}

@font-face {
  font-family: Myriad Pro Bold;
  src: url(../fonts/MyriadProBold.ttf);
}

@font-face {
  font-family: Myriad Pro SemiBold;
  src: url(../fonts/MyriadProSemiBold.ttf);
}

@font-face{
  font-family: Helvetica Neue Italic;
  src: url(../fonts/helveticaneuecyr-italic.otf);
}

@font-face{
  font-family: Helvetica Neue BoldItalic;
  src: url(../fonts/helvetica-neue-bold-italic.ttf);
}

@font-face{
  font-family: Novecento Wide DemiBold;
  src: url(../fonts/NovecentoSansWideDemiBold.otf);
}

html{
  font-size: 10px;
}

a{
  text-decoration: none;
  color: white;
  outline: none;
}

body{
  font-size: 1.6rem;
  margin: 0px;
  font-family: Helvetica Neue;
}

b{
  font-family: Myriad Pro;
  color: #222222;
  font-weight: 600;
  font-size: 2.4rem;
}

p{
  color: #848484;
  line-height: 2.6rem;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  width: calc(100%-20px);
  padding: 0 10px;
}

.icon-apple::before {
  content: "\f101";
}

.icon-android::before {
  content: "\f100";
}

.icon-windows::before {
  content: "\f108";
}

.platform-icon:hover{
  opacity: 1;
}

.platform-icon {
  display: block;
  opacity: 0.5;
  font-family: "Flaticon";
  font-size: 2.6rem;
  text-align: center;
  padding-top: 10px;
  width: 52px;
  height: 42px;
  border-radius: 50%;
  background: black;
  color: white;
  cursor: pointer;
}

.logo {
  background: url(../img/logo.png) no-repeat;
  width: 144px;
  height: 78px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.header-platforms-icons {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 55px;
}

.main-header {
  padding-top: 107px;
  min-height: 593px;
  background: url(../img/header.jpg) top center no-repeat;
  background-size: cover;
}

.header-slide-arrow img{
  width: 50px;
  height: 15px;
}
.header-slide-arrow {
  text-align: center;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 160px;
}

.feature-row {
  width: 27%;
  max-width: 320px;
}

.features-iphone {
  background: url(../img/iphone.png) center no-repeat;
  width: 464px;
  height: 806px;
  margin-top: -356px;
  margin-bottom: -160px;
}

.features-dots-dot::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
}

.features-dots-dot{
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 5px solid rgba(255,255,255,0.15);  
  border-radius: 50%;
}

.features-dots-dot:first-child {
  margin-top: 196px;
  margin-left: 300px;
}

.features-dots-dot:nth-child(even) {
  margin-left: 150px;
  margin-top: 70px;
}

.features-dots-dot:nth-child(3) {
  margin-top: 90px;
  margin-left: 300px;
}

.features-dots-dot:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features-dots-dot:hover::before {
  background: #e74c3c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features-item:nth-of-type(odd)>p {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.features-item:nth-of-type(even)>p {
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.about-glow {
  padding: 60px 0;
  background: #e8e8e8;
}

.about-glow-text>b,.glows-reasons-title>b {
  font-size: 3rem;
}

.about-glow-video {
  width: 42%;
  max-width: 500px;
  border-radius: 5px;
}

.about-glow-grid {  
  display: -webkit-box;
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-glow-text {
  width: 50%;
  max-width: 540px;
}

.about-glow-text>p {
  margin-top: 30px;
}

.about-glow-text li {
    list-style-type: none;
}
.about-glow-text li:before {
  color: black;
  content: "\f104";
  font-family: Flaticon;
  font-size: 1.3rem;
  margin-right: 15px;
}

.about-glow-text>ul{
  padding-left: 20px;
  color: #848484;
}

.socials {
  font-family: Flaticon;
  font-size: 16px;
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

.glows-reasons-title>p {
  max-width: 1020px;
  padding: 0px 20px;
  margin: 0 auto;
  margin-top: 30px;
}

.glows-reasons-title {
  text-align: center;
  margin-bottom: 40px;
}

.glows-reasons {
  width: 100%;
  max-width: 1200px;
  padding-top: 60px;
  margin: 0 auto;
}

.glows-reasons-item {
  box-sizing: border-box;
  margin: 0 40px;
  text-align: center;
  width: calc(33% - 80px);
  min-height: 260px;
  max-width: 320px;
  padding: 20px 0; 
  border-bottom: 1px solid #e3e3e3;
}

.reasons-item-title {
  font-family: Myriad Pro SemiBold;
  font-size: 2.4rem;
}

.reasons-item-description {
  margin-top: 30px;
  margin-bottom: 0px;
}

.glows-reasons-item-row {
  padding: 0 48px;
  padding-top: 55px;
  padding-bottom: 45px;
  margin: 0px -40px;
  min-height: 205px;
  border-right: 1px solid #e3e3e3;
}

.glows-reasons-items {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.reasons-item-picture {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: url(../img/features.png) no-repeat;
}

.reasons-picture-flat-design {
  background-position: -0px -144px;
  height: 42px;
  margin-bottom: 36px;
}

.reasons-picture-marketable {
  background-position: -0px -186px; 
  width: 46px; 
  height: 46px;
  margin-bottom: 32px;
}



.reasons-picture-edit-colors {
  background-position:  -0px -232px;
  width: 42px;
  height: 47px;
  margin-bottom: 31px;
}

.reasons-picture-user-friendly {
  background-position: -0px -48px; 
}

.reasons-picture-editable {
  background-position: -0px -96px; 
}

.glows-reasons-item:nth-of-type(n+4) {
  border-bottom: none;
}

.glows-reasons-item:nth-of-type(3n) .glows-reasons-item-row {
  border-right: none;
}

.pricing-plans {
  background: #e8e8e8;
  padding-top: 60px;
}

.pricing-plans h2{
  text-align: center;
  font-size: 3rem;
  font-family: Myriad Pro SemiBold;
}

.pricing-plans p {
  padding: 0 6.5%;
  text-align: center;
  margin-bottom: 60px;
}

.pricing-plans-card {
  width: 24%;
  max-width: 290px;
  min-height: 420px;
  text-align: center;
}

.card-title {
  font-family: Myriad Pro SemiBold;
  font-size: 2.8rem;
  color: white;
  padding-top: 10px;
  min-height: 45px;
  background: #322e2e;
}

.card-purchase {
  text-transform: uppercase;
  font-family: Myriad Pro SemiBold;
  color: white;
  font-size: 1.5rem;
  background: #322e2e;
  min-height: 60px;
  padding-top: 20px;
}

.card-description {
  background: white;
  min-height: 245px;
  padding: 0px 20px;
}

.card-price {
  font-family: Novecento Wide DemiBold;
  font-size: 4.2rem;
}

.card-price-cents {
  font-size: 2.4rem;
  vertical-align: super;
}

.card-features {
  padding: 0px;
  list-style: none;
  margin-bottom: 0;
}

.card-features>li {
  padding: 15px 0;
  color: #848484;
  border-top: 1px solid #c2c2c2;
}

.btn {
  margin: 0 auto;
  display: block;
  min-height: 30px;
  max-width: 140px;
  background: #514d4d;
}

.pricing-plans-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-plans-card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing-plans-card:hover .card-title, .pricing-plans-card:hover .card-purchase {
  background: #e74c3c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pricing-plans-card:hover .btn-card-purchase {
  background: #f27a6d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-card-purchase {
  padding-top: 1rem;
  color: white;
}
.reviews {
  text-align: center;
  background: white;
  margin-top: -50px;
  padding-top: 130px;
  padding-bottom: 60px;
}

.reviews>blockquote{
  color: #848484;
  margin: 0px;
  margin-bottom: 26px;
  font-size: 2.4rem;
  font-family: Helvetica Neue Italic;
  line-height: 3.4rem;
}

.reviews-author {
  font-family: Myriad Pro SemiBold;
  margin-bottom: 60px;
}

.pointer {
  cursor: pointer;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid #e74c3c;
}

.pointer:hover {
  background: #e74c3c;
}

.reviews-slider {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
}

.subscribe {
  text-align: center;
  background: url(../img/header.jpg) center center no-repeat;
  background-size: cover;
  padding: 60px 0;
}

.subscribe>h2{
  font-family: Myriad Pro SemiBold;
  margin: 0;
  font-size: 3rem;
  margin-bottom: 40px;
}

.subscribe input[type="email"] {
  font-size: 1.8rem;
  min-height: 72px;
  padding-left: 30px;
  text-transform: uppercase;
  font-family: Myriad Pro SemiBold;
  background: rgba(0,0,0,0.65);
  max-width: 350px;
  width: 70%;
  border: none;
  color: #fff;
}



.subscribe>form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 540px;
}

.btn-subscribe {
  font-size: 1.8rem;
  color: white;
  width: 27%;
  font-family: Myriad Pro SemiBold;
  text-transform: uppercase;
  max-width: 150px;
  background: #e74c3c;
  border: 0;
  min-height: 72px;
}

.contact {
  text-align: center;
  padding: 60px 0;
}

.contact h2{
  font-family: Myriad Pro SemiBold;
  font-size: 3rem;
  margin: 0;
}

.contact p{
  margin: 30px 0;
}

.socials>a{
  display: block;
  width: 34px;
  height: 26px;
  border-radius: 50%;
  background: #d4d4d4;
  padding-top: 8px;
}

.socials>a:hover{
  background: #e74c3c;
}

.index-footer a{
  color: #848484;
}

.index-footer{
  background: #e8e8e8;
  padding: 60px 0;
}
.index-footer>ul{
  max-width: 540px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  list-style: none;
}

@media screen and (max-width: 860px){
  .features{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .feature-row{
    width: 45%;
    max-width: 1000px;
  }
  
  .features-iphone{
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 740px){
  .about-glow-text, .about-glow-video{
    width: 100%;
    max-width: 740px;
  }
  
  .about-glow-video{
    margin-top: 30px;
  }
  
  .glows-reasons-item{
    width: calc(50% - 80px);
  }
  
  .glows-reasons-item:nth-of-type(3n) .glows-reasons-item-row{
    border-right: 1px solid #e3e3e3;
  }
  
  .glows-reasons-item:nth-of-type(4) {
    border-bottom: 1px solid #e3e3e3;
  }
}

@media screen and (max-width:518px){
  .subscribe>form{
    justify-content: center;
     flex-wrap: wrap;
  }
  .btn-subscribe{
    display: block;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px){
  .feature-row{
    width: 100%;
  }
  
  .features-dots{
    visibility: hidden;
  }
  
  .features-iphone{
    width: 90vw;
    background-size: 100%;
    height: 160vw;
  }
  
  .glows-reasons-item{
    width: calc(100% - 80px);
    border-bottom: 1px solid #e3e3e3;
  }
  
  .glows-reasons-item-row, .glows-reasons-item:nth-of-type(3n) .glows-reasons-item-row{
    border-right: none;
  }
  
  .glows-reasons-item:nth-of-type(5){
    border-bottom: 1px solid #e3e3e3;
  }
  
  .glows-reasons-items{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .pricing-plans-cards{
    flex-direction: column;
  }
  
  .pricing-plans-card{
    width: 100%;
    margin-top: 25px;
  }
  
  .pricing-plans-card::first-of-type{
    margin-top: 0px;
  }
  
  .pricing-plans-card:hover{
    transform: none;
  }
}
.pointer-active {
  background: #e74c3c;
}
